.tml-login{
    width: 15%;
    margin: 220px auto;
}

.tml-register{
    width: 35%;
    margin: 130px auto;
}

.tml-lostpassword{
    width: 25%;
    margin: 18vh auto;
}

.tml-resetpass{
    width: 25%;
    margin: 130px auto;
}

.tml-label{
    color: #061E37;
    font-size: 15px;
}

.tml .tml-label{
    display: inline-flex !important;
    color: #061E37;
    font-size: 15px;
}

.loginBtn{
    color: white;
    padding: 10px 30px;
    background-color: #00E9B5;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.tml-message{
    color: #061E37;
}

.tml-error{
    color: #061E37;
}

.tml-error strong{
    color: #061E37;
}

p{
    color: #061E37; 
}