@media(min-width: 0px) and (max-width: 575px) {
    .selector{
        margin-top: 20px;
    }
    .easyText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .easyDescr {
        font-size: 14px !important;
        width: 90%;
    }
    .easyUsefull {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px !important;
        margin: 60px 0;
    }
    .avatar {
        width: 50px !important;
        height: 50px !important;
        margin-bottom: 10px !important;
    }
    .cards-block{
        display: flex;
        align-items: center;
        height: 20% !important;
        margin-top: 30px;
    }
    .cardTitle {
        font-size: 10px !important;
    }
    .card {
        flex-direction: column;
    }
    .container {
        max-width: 300px!important;
    }
    .logo {
        width: 30px!important;
        height: 30px!important;
    }
    .light {
        font-size: 11px;
    }
    .bold {
        font-size: 11px;
    }
    header {
        height: 500px!important;
    }
    .descr {
        padding-top: 50px!important;
    }
    .media-block {
        display: none;
    }
    .text-block {
        width: 100%!important;
    }
    .nav {
        display: none !important;
    }
    .burgSelector {
        display: flex!important;
    }
    .block-title {
        font-size: 25px;
    }
    .btn-blue {
        font-size: 9px;
    }
    .btn-white {
        font-size: 9px;
    }
    .statement {
        font-size: 10px;
        height: 80%!important;
    }
    .name {
        font-size: 11px;
        height: 20%!important;
    }
    .slider-btns {
        left: 28%!important;
        height: 205px !important;
    }
    .size-serviceThumb{
        height: 20px !important;
        width: 20px !important;
    }
    .title-text{
        font-size: 14px;
    }
    .wp-image-68{
        width: 100px;
        height: 75px;
    }
    .wp-block-image figure{
        width: 100px !important;
    }
    .statist p{
        font-size: 12px;
    }
    .parag-1 {
        font-size: 13px;
    }
    .parag-2 {
        font-size: 13px;
    }
    .testiTitle {
        font-size: 25px;
        text-align: center;
    }
    .testiDescr {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        margin: 0 !important;
    }
    .footerNav {
        display: none!important;
    }
    .wrapper-avatars {
        width: 300px!important;
    }
    .item-avatar {
        min-width: 100px!important;
        height: 100px!important;
    }
    .item-avatar img {
        width: 60px!important;
        height: 60px!important;
    }
    .controls-btns {
        width: 300px!important;
    }
    .whiteArea {
        width: 100px!important;
        height: 100px!important;
    }
    .avatarActive {
        width: 100px!important;
        height: 100px!important;
    }
    .wrapper-text {
        width: 300px!important;
    }
    .slider-track-text {
        transform: translateX(-300px);
    }
    .workerName {
        width: 300px!important;
    }
    .workerDescr {
        width: 300px!important;
    }
    .workerDescr p {
        width: 300px!important;
    }
    .form {
        width: 300px!important;
    }
    .agreementText {
        width: 150px!important;
        font-size: 9px;
        text-align: left;
    }
    .companyTitle {
        justify-content: center;
    }
    .card {
        margin-left: 10px;
    }
    .cardDescr {
        display: none !important;
    }
    .testiContent {
        flex-direction: column;
    }
    .testiText {
        width: 100%!important;
        display: block!important;
        flex-direction: row!important;
        height: 50% !important;
        align-items: center;
        justify-content: center;
    }
    .slider-item{
        height: 150px !important;
    }
    .wrapper{
        height: 200px !important;
    }
    .testiMediaBlock{
        display: block !important;
        margin: 0 0 20px 0;
    }
    .w170 {
        height: 70px;
        margin-left: 70px;
        margin-top: 20px;
    }
    .testiSlider {
        width: 100%!important;
        height: 50%!important;
    }
    .userAvatar{
        display: none !important;
    }
    .block-body{
        font-size: 17px !important;
    }
    .buyModal{
        width: 300px !important;
        top: calc(50% - 400px / 2);
        left: calc(50% - 300px / 2) !important;
    }
    .buyDescr{
        font-size: 10px !important;
        margin-bottom: 0 !important;
    }
    #buyForm input{
        padding: 4px 5px !important;
        width: 100% !important;
    }
    #buyForm small{
        font-size: 10px !important;
    }
    #buyBtn{
        width: 40% !important;
        margin-left: 60% !important;
        padding: 10px 20px !important;
    }
    .successMessage{
        font-size: 12px !important;
    }
    .freeModal{
        width: 300px !important;
        top: calc(50% - 250px / 2) !important;
        left: calc(50% - 300px / 2) !important;
    }
    .modalContent p{
        font-size: 12px !important; 
    }
    .modalContent a{
        margin-left: 73% !important;
    }
}


@media(min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 700px!important;
    }
    video {
        width: 100%;
        padding: 0 0px 0 70px;
    }
    .nav {
        display: none !important;
    }
    .burgSelector {
        display: flex!important;
        margin: 0 15px;
    }
    .block-title {
        font-size: 25px;
    }
    .btn-blue {
        font-size: 15px;
    }
    .btn-white {
        font-size: 15px;
    }
    .statement {
        font-size: 13px;
        height: 80%!important;
    }
    .name {
        height: 20%!important;
    }
    .footerNav {
        display: none!important;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 900px!important;
    }
    video {
        width: 100%;
        padding: 0 0px 0 70px;
    }
}

@media(min-width: 1200px) and (max-width: 1299px) {
    .container {
        max-width: 1000px!important;
    }
    video {
        width: 100%;
        padding: 0 0px 0 70px;
    }
}

@media(min-width: 1300px) and (max-width: 1399px) {
    .container {
        max-width: 1100px!important;
    }
    video {
        width: 100%;
        padding: 0 0px 0 70px;
    }
}

@media(min-width: 1400px) {
    .container {
        max-width: 1400px!important;
    }
    video {
        width: 100%;
        padding: 0 0px 0 70px;
    }
}